@using EasySoft.PssS.Web.Resources;
@model EasySoft.PssS.Web.Models.Home.IndexModel

@{
    ViewBag.Title = WebResource.Home_Index_Title;
}
<div style="padding-top:15px">
    <div class="jumbotron">
        <p>@Model.Name，中午好，欢迎光临！[<a href="/User/Logout">退出</a>]</p>
        <p>手机：@Model.Moblie</p>
        <p>支出：<span class="red">￥20000.00</span></p>
        <p>收入：<span class="red">￥20000.00</span></p>
    </div>
</div>
    <div class="am-cf uchome-apps">
        <ul class="am-avg-sm-3 uchome-apps-ul">
            <li><a href="/Purchase/IntoDepot/Product"><p class="imgp"><img src="~/Content/images/uhomeapp5.png" class="am-img-responsive" /></p><p class="namep">@WebResource.Purchase_Add_ProductTitle</p><p class="lastp">0笔</p></a></li>
            <li><a href="/Purchase/IntoDepot/Pack"><p class="imgp"><img src="~/Content/images/uhomeapp8.png" class="am-img-responsive" /></p><p class="namep">@WebResource.Purchase_Add_PackTitle</p><p class="lastp">0笔</p></a></li>
            <li><a href="#"><p class="imgp"><img src="~/Content/images/goTop.gif" class="am-img-responsive" /></p><p class="namep">采购出库</p><p class="lastp">0笔</p></a></li>
            <li><a href="#"><p class="imgp"><img src="~/Content/images/uhomeapp1.png" class="am-img-responsive" /></p><p class="namep">销售订单</p><p class="lastp">0笔</p></a></li>
            <li><a href="#"><p class="imgp"><img src="~/Content/images/uhomeapp13.png" class="am-img-responsive" /></p><p class="namep">外发订单</p><p class="lastp">0笔</p></a></li>
        </ul>
    </div>

