@model EasySoft.PssS.Web.Models.Purchase.PurchaseAddModel

@{
    ViewBag.Title = "采购入库";
}

<div class="cart-panel">
    <div class="am-form-group am-form-icon">
        <i class="am-icon-calendar" style="color:#329cd9"></i>
        <input id="txtDate" type="text" class="am-form-field  my-radius" placeholder="请选择日期" data-am-datepicker="{theme: 'danger'}" readonly>
    </div>
    <div class="am-form-group am-form-icon">
        <i class="am-icon-product-hunt" style="color:#329cd9"></i>
        <select id="ddlItem" class="am-form-field  my-radius">
            <option value="">请选择产品</option>
            @foreach (var item in Model.PurchaseItems)
            {
                <option value="@item.Key">@item.Value</option>
            }
        </select>
    </div>
    <div class="am-form-group am-form-icon">
        <i class="am-icon-clone" style="color:#f09513"></i>
        <input id="txtQuantity" type="number" min="0.01" max="99999999.99" class="am-form-field  my-radius" placeholder="请输入数量，单位：斤">
    </div>
    <div class="am-form-group am-form-icon">
        <i class="am-icon-clone" style="color:#e88888"></i>
        <input type="text" class="am-form-field  my-radius" placeholder="请输入供应方名称">
    </div>
    <table class="am-table am-table-bordered am-form-group">
        @for (int i = 0; i < Model.CostDetails.Count; i++)
        {
            <tr>
                @if (i == 0)
                {
                    <td width="15%" rowspan="3" style="vertical-align:middle; text-align:center;">成<br />本</td>
                }
                <td width="25%">@Model.CostDetails[i].ItemName</td>
                <td width="60%">
                    <div class="am-form-icon">
                        <i class="am-icon-clone" style="color:#f09513"></i>
                        <input id="@Model.CostDetails[i].ItemName" type="number" min="0.01" max="99999999.99" class="am-form-field  my-radius" placeholder="请输入金额，单位：元">
                    </div>
                </td>
            </tr>
        }

        @*<tr>
                <td width="15%" rowspan="3" style="vertical-align:middle; text-align:center;">成<br />本</td>
                <td width="25%">番禺区</td>
                <td width="60%">
                    <div class="am-form-icon">
                        <i class="am-icon-clone" style="color:#f09513"></i>
                        <input id="txtQuantity" type="number" min="0.01" max="99999999.99" class="am-form-field  my-radius" placeholder="请输入数量，单位：斤">
                    </div>
                </td>

            </tr>
            <tr>
                <td width="25%">番禺区</td>
                <td>
                    <div class="am-form-icon">
                        <i class="am-icon-clone" style="color:#f09513"></i>
                        <input id="txtQuantity" type="number" min="0.01" max="99999999.99" class="am-form-field  my-radius" placeholder="请输入数量，单位：斤">
                    </div>
                </td>

            </tr>
            <tr>
                <td width="25%">番禺区</td>
                <td>
                    <div class="am-form-icon">
                        <i class="am-icon-clone" style="color:#f09513"></i>
                        <input id="txtQuantity" type="number" min="0.01" max="99999999.99" class="am-form-field  my-radius" placeholder="请输入数量，单位：斤">
                    </div>
                </td>

            </tr>*@
    </table>



    <div class="am-form-group">
        <textarea class="am-form-field  my-radius" rows="5" id="doc-ta-1" placeholder="请输入备注信息"></textarea>
    </div>


    <p class="am-text-center"><button type="submit" class="am-btn am-btn-danger am-radius">提交</button></p>
</div>
