@using EasySoft.PssS.Web.Resources;
@{
    ViewBag.Title = WebResource.Message_Error;
    ViewBag.PreviousUrl = "/Home/Index";
}
<div class="col-xs-12">
    <h1 style="font-weight:bold;">404</h1>
    <br />
    <a href="javascript:;" onclick="window.history.back();">
        <h4>@ViewBag.ErrorMessages</h4>
    </a>
</div>

